[Unit]
Description=Cam service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=_USER_
ExecStart=/usr/bin/env python3 _PATH_/src/main.py

[Install]
WantedBy=multi-user.target